*{
    background-color: brown;
    font-family: sans-serif;
}
.container{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 80px;
}
h2{
    color: white;
    letter-spacing: 2px;
    margin-left: 75px;
    margin-bottom: 100px;
    font-weight: 800;
    font-size: 40px;
}
.username{
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 250px;
}
.password{
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 250px;
}
button{
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    border-radius: 2px;
    width: 250px;
    border-radius: 10px;
    margin-top: 80px;
}
h3 a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: small;
}
h3 a:hover{
    color: black;

}




